
html {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

picture, img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 12px 15px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
}

header {
  padding: 5vh;
  margin: 0;
}

header #app-icon {
  margin: 0;
  width: 100px;
}

header h1 {
  margin: 0;
}

header #description {
  margin: 10px;
}

header #buttons {
  margin-top: auto;
}

#screenshot {
  margin: 0;
  padding: 0;
}

.developer-info {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 15px;
}

.developer-info h2{
  margin: 0;
}

.developer-info #name{
  margin: 10px;
  font-size: 1.1rem;
}

.developer-info .info p {
  margin: 5px;
}
